<p>Welcome <%= nickname %>!</p>
<button class="click-me">CLICK ME, DUDE!</button>
<p class="placeholder"></p>
<ul>
  <li>Create <a href="/createChampionship.html">your championship</a></li>
  <li><a href="/manageChampionship">Manage your existing championships!</a></li>
  <li><a href="/logout">logout</a></li>
</ul>
