<!doctype html>
<html>
	<head>
		<title>Championship Manager</title>
		<script language="javascript" src="js/vendor/jquery-1.7.2.min.js"></script>
    <script language="javascript" src="js/championship_manager.js"></script>
	</head>
	<body>
	  <%- body %>
  </body>
</html>
